<div class="panel panel-default infobox">
    <div class="panel-heading">
        <bdi><h4 class="panel-title infobox_part">{{ infobox.infobox }}</h4></bdi>
    </div>
    <div class="panel-body">
        <bdi>
        {% if infobox.img_src %}<img class="img-responsive center-block infobox_part" src="{{ image_proxify(infobox.img_src) }}" alt="{{ infobox.infobox }}" />{% endif %}
        {% if infobox.content %}<p class="infobox_part">{{ infobox.content }}</p>{% endif %}

        {% if infobox.attributes %}
        <table class="table table-striped infobox_part">
            {% for attribute in infobox.attributes %}
            <tr>
                <td>{{ attribute.label }}</td>
                {% if attribute.image %}
                <td><img class="img-responsive" src="{{ image_proxify(attribute.image.src) }}" alt="{{ attribute.image.alt }}" /></td>
                {% else %}
                <td>{{ attribute.value }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if infobox.urls %}
        <div class="infobox_part">
            {% for url in infobox.urls %}
            <p class="btn btn-default btn-xs"><a href="{{ url.url }}" rel="noreferrer">{{ url.title }}</a></p>
            {% endfor %}
        </div>
        {% endif %}
        </bdi>
    </div>
</div>
