<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header{% if rtl %} navbar-right{% endif %}">
            <a class="navbar-brand" href="{{ url_for('index') }}">{{ instance_name }}</a>
        </div>
    </div><!--/.container-fluid -->
</div>
<div class="menu menu-{% if rtl %}left{% else %}right{% endif %}">
    <ul> <!-- results.html -->
        <li{% if template_name == 'about.html' %} class="active"{% endif %}><a href="{{ url_for('about') }}" class="hmarg">{{ _('about') }}</a></li>
        <li{% if template_name == 'preferences.html' %} class="active"{% endif %}><a href="{{ url_for('preferences') }}" class="hmarg">{{ _('preferences') }}</a></li>
    </ul>
</div><!--/.nav-collapse -->
