{% from 'oscar/macros.html' import preferences_item_header, preferences_item_header_rtl, preferences_item_footer, preferences_item_footer_rtl, checkbox_toggle %}
{% extends "oscar/base.html" %}
{% block title %}{{ _('preferences') }} - {% endblock %}
{% block site_alert_warning_nojs %}
<noscript>
    {% include 'oscar/messages/js_disabled.html' %}
</noscript>
{% endblock %}
{% block content %}
<div>

    <h1>{{ _('Preferences') }}</h1>
    <form method="post" action="{{ url_for('preferences') }}" id="search_form">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified hide_if_nojs" role="tablist" style="margin-bottom:20px;">
          <li class="active"><a href="#tab_general" role="tab" data-toggle="tab">{{ _('General') }}</a></li>
          <li><a href="#tab_engine" role="tab" data-toggle="tab">{{ _('Engines') }} <img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('This panel lists every engines available in the searx instance you are using. You can see their names and shortcuts (to use with bangs, like the shortcut of Google is go, you can search uniquely in Google using !go), if SafeSearch is available, some stats, and the possibility to allow or block any engine. This last part will allow you to tailor any result page, in any category, to your needs.')}}" alt="{{ _('What is...') }}" /></a></li>
          <li><a href="#tab_plugins" role="tab" data-toggle="tab">{{ _('Plugins') }} <img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('In this panel you have a list of functionnality that are optionnal. They are for advanced users, and you should leave the default values if you don\'t know what you are doing. Each plugin is described directly on this panel.')}}" alt="{{ _('What is...') }}" /></a></li>
          <li><a href="#tab_cookies" role="tab" data-toggle="tab">{{ _('Cookies') }} <img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('Cookies are tiny files stored in your computer that allow persistent informations to be stored and accessed by website, like your settings, but also like an identifier used for advertising and/or tracking. In this panel, you can see every cookies used by searx, and confirm that nothing personnal is stored on your computer by searx, or nothing useful to identify you.')}}" alt="{{ _('What is...') }}" /></a></li>
        </ul>

        <!-- Tab panes -->
        <noscript>
            <h3>{{ _('General') }}</h3>
        </noscript>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_general">
                <fieldset>
                <div class="container-fluid">
                    <div class="row form-group">
                        {% if rtl %}
                        <div class="col-sm-11 col-md-10">
                            {% include 'oscar/categories.html' %}
                        </div>
                        <label class="col-sm-3 col-md-2"><img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('This option allow you to choose in what categories your search will be performed by default. For example, you can choose that if you don\'t specify anything, all your searches must be in the videos and maps categories.')}}" alt="{{ _('What is...') }}" /> {{ _('Default categories') }}</label>
                        {% else %}
                        <label class="col-sm-3 col-md-2">{{ _('Default categories') }}&nbsp;<img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('This option allow you to choose in what categories your search will be performed by default. For example, you can choose that if you don\'t specify anything, all your searches must be in the videos and maps categories.')}}" alt="{{ _('What is...') }}" /></label>
                        <div class="col-sm-11 col-md-10">
                            {% include 'oscar/categories.html' %}
                        </div>
                        {% endif %}
                    </div>
                    {% set language_label = _('Search language') %}
                    {% set language_info = _('What language do you prefer for search?') ~ " <img src=\""|safe ~ url_for('static', filename='img/what.png') ~ "\" title=\""|safe ~ _('You can choose here in which language your searches will be performed. If you choose \'automatic\', searx will choose for you, and often, it will be english. Also note that not all of the search engines can return localised results, and so, on some searches, your choices won\'t change the results.') ~ "\" alt=\""|safe ~ _('What is...') ~ "\" />"|safe %}
                    {{ preferences_item_header(language_info, language_label, rtl) }}
                        <select class="form-control" name='language'>
                            <option value="all" {% if current_language == 'all' %}selected="selected"{% endif %}>{{ _('Automatic') }}</option>
                            {% for lang_id,lang_name,country_name in language_codes | sort(attribute=1) %}
                            <option value="{{ lang_id }}" {% if lang_id == current_language %}selected="selected"{% endif %}>{{ lang_name }} ({{ country_name }}) - {{ lang_id }}</option>
                            {% endfor %}
                        </select>
                    {{ preferences_item_footer(language_info, language_label, rtl) }}

                    {% set locale_label = _('Interface language') %}
                    {% set locale_info = _('Change the language of the interface.') ~ " <img src=\""|safe ~ url_for('static', filename='img/what.png') ~ "\" title=\""|safe ~ _('This option allow to choose the language of the interface of searx. It\'s independant from the search language option. If your language is not listed, or contains bad translation, you can help searx by going to https://www.transifex.com/projects/p/searx/') ~ "\" alt=\""|safe ~ _('What is...') ~ "\" />"|safe %}
                    {{ preferences_item_header(locale_info, locale_label, rtl) }}
                        <select class="form-control" name='locale'>
                            {% for locale_id,locale_name in locales.items() | sort %}
                            <option value="{{ locale_id }}" {% if locale_id == current_locale %}selected="selected"{% endif %}>{{ locale_name }}</option>
                            {% endfor %}
                        </select>
                    {{ preferences_item_footer(locale_info, locale_label, rtl) }}

                    {% set autocomplete_label = _('Autocomplete') %}
                    {% set autocomplete_info = _('Find stuff as you type.') ~ " <img src=\""|safe ~ url_for('static', filename='img/what.png') ~ "\" title=\""|safe ~ _('If you activate this option, searx will propose to you some queries that could correspond to what you want, as you type, based on the engine you have choosen. But beware, to allow this function, searx has to send every keystroke you perform to the engine. So it\'s a possible breach in your privacy. You have to choose between full privacy and functionnality.') ~ "\" alt=\""|safe ~ _('What is...') ~ "\" />"|safe %}
                    {{ preferences_item_header(autocomplete_info, autocomplete_label, rtl) }}
                        <select class="form-control" name="autocomplete">
                            <option value=""> - </option>
                            {% for backend in autocomplete_backends %}
                            <option value="{{ backend }}" {% if backend == autocomplete %}selected="selected"{% endif %}>{{ backend }}</option>
                            {% endfor %}
                        </select>
                    {{ preferences_item_footer(autocomplete_info, autocomplete_label, rtl) }}

                    {% set image_proxy_label = _('Image proxy') %}
                    {% set image_proxy_info = _('Proxying image results through searx.') ~ " <img src=\""|safe ~ url_for('static', filename='img/what.png') ~ "\" title=\""|safe ~ _('To enhance your privacy, you can use searx to be a middle man between you and the images you searched, so the original sources of the images don\'t know what you looked at. This function must be activated in the instance of searx you are using.') ~ "\" alt=\""|safe ~ _('What is...') ~ "\" />"|safe %}
                    {{ preferences_item_header(image_proxy_info, image_proxy_label, rtl) }}
                        <select class="form-control" name='image_proxy'>
                            <option value="1" {% if image_proxy  %}selected="selected"{% endif %}>{{ _('Enabled') }}</option>
                            <option value="" {% if not image_proxy %}selected="selected"{% endif %}>{{ _('Disabled')}}</option>
                        </select>
                    {{ preferences_item_footer(image_proxy_info, image_proxy_label, rtl) }}

                    {% set method_label = _('Method') %}
                    {% set method_info = _('Change how forms are submited, <a href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods" rel="external">learn more about request methods</a>.') ~ " <img src=\""|safe ~ url_for('static', filename='img/what.png') ~ "\" title=\""|safe ~ _('This option won\'t change a lot if you don\'t know their differences. POST protect a bit more your privacy, but GET allow you to change and share the URL of the search you performed. It\'s again a choice between privacy and functionnality.') ~ "\" alt=\""|safe ~ _('What is...') ~ "\" />"|safe  %}
                    {{ preferences_item_header(method_info, method_label, rtl) }}
                        <select class="form-control" name='method'>
                            <option value="POST" {% if method == 'POST' %}selected="selected"{% endif %}>POST</option>
                            <option value="GET" {% if method == 'GET' %}selected="selected"{% endif %}>GET</option>
                        </select>
                    {{ preferences_item_footer(method_info, method_label, rtl) }}

                    {% set safesearch_label = _('SafeSearch') %}
                    {% set safesearch_info = _('Filter content.') ~ " <img src=\""|safe ~ url_for('static', filename='img/what.png') ~ "\" title=\""|safe ~ _('If SafeSearch is activated, it will limit the amount of adult/chocking content returned in your results. It will only work if the engines you are using support it.') ~ "\" alt=\""|safe ~ _('What is...') ~ "\" />"|safe %}
                    {{ preferences_item_header(safesearch_info, safesearch_label, rtl) }}
                        <select class="form-control" name='safesearch'>
                            <option value="2" {% if safesearch == '2' %}selected="selected"{% endif %}>{{ _('Strict') }}</option>
                            <option value="1" {% if safesearch == '1' %}selected="selected"{% endif %}>{{ _('Moderate') }}</option>
                            <option value="0" {% if safesearch == '0' %}selected="selected"{% endif %}>{{ _('None') }}</option>
                        </select>
                    {{ preferences_item_footer(safesearch_info, safesearch_label, rtl) }}

                    {% set theme_label = _('Themes') %}
                    {% set theme_info = _('Change searx layout.') ~ " <img src=\""|safe ~ url_for('static', filename='img/what.png') ~ "\" title=\""|safe ~ _('You can choose the look and feel of your version of searx. Depends entirely of you tastes.') ~ "\" alt=\""|safe ~ _('What is...') ~ "\" />"|safe %}
                    {{ preferences_item_header(theme_info, theme_label, rtl) }}
                        <select class="form-control" name="theme">
                            {% for name in themes %}
                            <option value="{{ name }}" {% if name == theme %}selected="selected"{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    {{ preferences_item_footer(theme_info, theme_label, rtl) }}
                </div>
                </fieldset>
            </div>
            <div class="tab-pane active_if_nojs" id="tab_engine">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified hide_if_nojs" role="tablist" style="margin-bottom:20px;">
                    {% for categ in all_categories %}
                    <li{% if loop.first %} class="active"{% endif %}><a href="#tab_engine_{{ categ|replace(' ', '_') }}" role="tab" data-toggle="tab">{{ _(categ) }}</a></li>
                    {% endfor %}
                </ul>

                <noscript>
                    <h3>{{ _('Engines') }} <img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('This panel lists every engines available in the searx instance you are using. You can see their names and shortcuts (to use with bangs, like the shortcut of Google is go, you can search uniquely in Google using !go), if SafeSearch is available, some stats, and the possibility to allow or block any engine. This last part will allow you to tailor any result page, in any category, to your needs.')}}" alt="{{ _('What is...') }}" /></h3>
                </noscript>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% for categ in all_categories %}
                    <noscript><label>{{ _(categ) }}</label>
                    </noscript>
                    <div class="tab-pane{% if loop.first %} active{% endif %} active_if_nojs" id="tab_engine_{{ categ|replace(' ', '_') }}">
                        <div class="container-fluid">
                        <fieldset>
                          <div class="table-responsive">
			  <table class="table table-hover table-condensed table-striped">
			        <tr>
                                    {% if not rtl %}
				    <th>{{ _("Allow") }}</th>
				    <th>{{ _("Engine name") }}</th>
				    <th>{{ _("Shortcut") }}</th>
				    <th>{{ _("SafeSearch") }}</th>
				    <th>{{ _("Avg. time") }}</th>
				    <th>{{ _("Max time") }}</th>
                                    {% else %}
				    <th>{{ _("Max time") }}</th>
				    <th>{{ _("Avg. time") }}</th>
				    <th>{{ _("SafeSearch") }}</th>
				    <th>{{ _("Shortcut") }}</th>
				    <th>{{ _("Engine name") }}</th>
				    <th>{{ _("Allow") }}</th>
                                    {% endif %}
                                </tr>
                        {% for search_engine in engines_by_category[categ] %}
                            {% if not search_engine.private %}
                                <tr>
                                    {% if not rtl %}
                                    <td>{{ checkbox_toggle('engine_' + search_engine.name|replace(' ', '_') + '__' + categ|replace(' ', '_'), (search_engine.name, categ) in blocked_engines) }}</td>
                                    <th>{{ search_engine.name }}</th>
				    <td>{{ shortcuts[search_engine.name] }}</td>
				    <td><input type="checkbox" {{ "checked" if search_engine.safesearch==True else ""}} readonly="readonly" disabled="disabled"></td>
				    <td class="{{ 'danger' if stats[search_engine.name]['warn_time'] else '' }}">{{ 'N/A' if stats[search_engine.name].time==None else stats[search_engine.name].time }}</td>
				    <td class="{{ 'danger' if stats[search_engine.name]['warn_timeout'] else '' }}">{{ search_engine.timeout }}</td>
                                    {% else %}
				    <td class="{{ 'danger' if stats[search_engine.name]['warn_timeout'] else '' }}">{{ search_engine.timeout }}</td>
				    <td class="{{ 'danger' if stats[search_engine.name]['warn_time'] else '' }}">{{ 'N/A' if stats[search_engine.name].time==None else stats[search_engine.name].time }}</td>
				    <td><input type="checkbox" {{ "checked" if search_engine.safesearch==True else ""}} readonly="readonly" disabled="disabled"></td>
				    <td>{{ shortcuts[search_engine.name] }}</td>
                                    <th>{{ search_engine.name }}</th>
                                    <td>{{ checkbox_toggle('engine_' + search_engine.name|replace(' ', '_') + '__' + categ|replace(' ', '_'), (search_engine.name, categ) in blocked_engines) }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
		          </table>
                          </div>
                        </fieldset>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane active_if_nojs" id="tab_plugins">
                <noscript>
                    <h3>{{ _('Plugins') }} <img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('In this panel you have a list of functionnality that are optionnal. They are for advanced users, and you should leave the default values if you don\'t know what you are doing. Each plugin is described directly on this panel.') }}" alt="{{ _('What is...') }}" /></h3>
                </noscript>
                <fieldset>
                    <div class="container-fluid">
                        {% for plugin in plugins %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ plugin.name }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-6 col-sm-4 col-md-6">{{ plugin.description }}</div>
                                <div class="col-xs-6 col-sm-4 col-md-6">
                                    {{ checkbox_toggle('plugin_' + plugin.id, plugin.id not in allowed_plugins) }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>

            <div class="tab-pane active_if_nojs" id="tab_cookies">
                <noscript>
                    <h3>{{ _('Cookies') }} <img src="{{url_for('static', filename='img/what.png')}}" title="{{ _('Cookies are tiny files stored in your computer that allow persistent informations to be stored and accessed by website, like your settings, but also like an identifier used for advertising and/or tracking. In this panel, you can see every cookies used by searx, and confirm that nothing personnal is stored on your computer by searx, or nothing useful to identify you.') }}" alt="{{ _('What is...') }}" /></h3>
                </noscript>
                <p class="text-muted" style="margin:20px 0;">
                    {{ _('This is the list of cookies and their values searx is storing on your computer.') }}<br />
                    {{ _('With that list, you can assess searx transparency.') }} <a href="{{ url_for('faq')}}#cookies_panel"> {{ _('More info...') }}</a><br />
                </p>
                {% if cookies %}
                <table class="table table-striped">
                    <tr>
                        <th class="text-muted" style="padding-right:40px;">{{ _('Cookie name') }}</th>
                        <th class="text-muted">{{ _('Value') }}</th>
                    </tr>

                    {% for cookie in cookies %}
                    <tr>
                        <td class="text-muted" style="padding-right:40px;">{{ cookie }}</td>
                        <td class="text-muted">{{ cookies[cookie] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    {% include 'oscar/messages/no_cookies.html' %}
                {% endif %}
            </div>
        </div>
        <p class="text-muted" style="margin:20px 0;">{{ _('These settings are stored in your cookies, this allows us not to store this data about you.') }}
        <br />
        {{ _("These cookies serve your sole convenience, we don't use these cookies to track you.") }}
        </p>

        <input type="submit" class="btn btn-primary" value="{{ _('save') }}" />
        <a href="{{ url_for('index') }}"><div class="btn btn-default">{{ _('back') }}</div></a>
        <a href="{{ url_for('clear_cookies') }}"><div class="btn btn-default">{{ _('Reset defaults') }}</div></a>
    </form>
</div>
{% endblock %}
