{% from 'oscar/macros.html' import icon %}
<form method="{{ method or 'POST' }}" action="{{ url_for('index') }}" id="search_form" role="search">
    <div class="input-group col-sm-12">
        <input type="search" name="q" class="form-control" id="q" placeholder="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">{{ icon('search') }}<span class="sr-only">{{ _('Start search') }}</span></button>
        </span>
    </div>
    <div class="search_categories">
            {% include 'oscar/categories.html' %}
    </div><!-- / #search_categories -->
</form><!-- / #search_form_full -->
