@import "elements.less";

#map_env {
    width: 100%;
    position: absolute;
    top:52px;
    bottom:0
}

#big_map {
    height:100%;
    position: relative;
    overflow: hidden;
    width: auto;
}

.map-result {
    border:1px solid #ccc;
    margin: 10px 0;
}

.map-result-title {
    color: #428bca;
    text-decoration: none;
}

.map-result-title:hover {
    color: #2a6496;
    text-decoration: underline;
}

.osm-map {
    height:300px;
    position: relative;
    overflow: hidden;
    width: auto;
}


.map-sidebar {
    width: 300px;
    display: none;
    float: left;
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    overflow: visible;
    height: 100%;
    z-index: 1000;
}

.map-sidebar-minimized {
    height: auto !important; 
    position: absolute !important;
    .rounded(0 0 8px 0);
    
    .search-sidebar {
        .rounded(0 0 8px 0);
        .panel-heading {
            .rounded(0 0 8px 0);
        }
    }
}

.map-ui {
    width: 250px;
    display: none;
    float: right;
    background: none repeat scroll 0 0 #fff;
    position: relative;
    overflow: auto;
    height: 100%;
    z-index: 1000;
}

.map-panel {
    z-index: 2000;
    .box-shadow(0 1px 5px rgba(0, 0, 0, 0.4));
    .rounded(0);
}

.map-panel-left {
    z-index:1000;
    
    position:absolute;
    top:100px;
    left:20px;
    bottom: 10px;
    
    width: 300px;
    
    overflow: hidden;
    
    padding-bottom: 55px; // TODO
    
    #big_map_results {
        overflow: auto;
        height: 100%;
    }
    
    hr {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}

.leaflet-top {
    top: 10px !important;

    .leaflet-control {
        margin-right: 0 !important;
        margin-top: 0 !important;
        pointer-events: auto;
    }
    
    .control-button {
        background-color: rgba(0, 0, 0, 0.6);
        .rounded(4px 0 0 4px);
        display: block;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
        outline: medium none;
        width: 40px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        
        &:hover {
            background-color: black;
        }
    }
}

.leaflet-control {
    .control-button .icon {
        margin: 10px;
    }
    
    .zoomin {
        .rounded(4px 0 0);
        margin-bottom: 0;
    }
    
    .zoomout {
        .rounded(0 0 0 4px);
    }
    
    
    .control-button.active {
        background-color: #9ed485;
    }
}        
.leaflet-container a {
    text-align: center;
}

.leaflet-contextmenu {
    -moz-user-select: none;
    background-color: #fff;
    .rounded(4px);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    cursor: default;
    display: none;
    padding: 4px 0;
    
    a {
        color: #0078a8;
        text-align: left;
        
        &.leaflet-contextmenu-item {
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            color: #222;
            cursor: pointer;
            display: block;
            font-size: 12px;
            line-height: 20px;
            outline: medium none;
            padding: 0 12px;
            text-decoration: none;
            
            &:hover {
                background-color: #f4f4f4;
                border-top: 1px solid #f0f0f0;
                border-bottom: 1px solid #f0f0f0;
            }
            
        }
        
        &.leaflet-contextmenu-item-disabled {
            cursor: default;
            opacity: 0.5;
            
            &:hover {
                background-color: inherit;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }
        }
    }
}

.leaflet-contextmenu-separator {
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}