{% extends 'base.html' %}
{% block content %}
{% include 'github_ribbon.html' %}
<div class="row">
    <h1>About <a href="/">searx</a></h1>

    <p>Searx is a meta-search engine inspired by the seeks-project.
    <br />You can add it to your browsers search bar and even make it your default search engine.
    <br />It tries to provide basic privacy by mixing your queries with those from others while avoiding logging. For all browsers (except chrom*) queries are made using a POST request. Thus they don't show up in our logs, nor in your url history. For Chrom* users there is an exception, searx is used from the search bar, it issues GET requests.</p>
    <p>Please add more engines to this list, pull requests are welcome!</p>

<h2>Supported engines</h2>

{% for (categ,search_engines) in categs %}
    <h3>{{ categ.capitalize() }} category</h3>
    <ul>
        {% for search_engine in search_engines %}
        <li>{{ search_engine.name }}</li>
        {% endfor %}
    </ul>
{% endfor %}

<h2><a href="https://github.com/asciimoo/searx/wiki/Searx-instances">Running instances</a></h2>

<h2>FAQ</h2>
<h3>Trust</h3>
<p>It's ok if you don't trust us regarding the logs, <a href="https://github.com/asciimoo/searx">take the code</a> and run it yourself for your friends! decentralize!</p>
<h3>Firefox engines plz?</h3>
<p><a href="#" onclick="window.external.AddSearchProvider(window.location.protocol + '//' + window.location.host + '/opensearch.xml')">
	Install</a> searx as a search engine on any version of Firefox!</p>


</div>
{% endblock %}
