<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Searx - a privacy-respecting, hackable metasearch engine" />
    <meta name="keywords" content="searx, search, search engine, metasearch, meta search" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=1" />
    <title>{% block title %}{% endblock %}searx</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}?v=2" />
    {% block styles %}
    {% endblock %}
    {% block head %}
    <link title="searx" type="application/opensearchdescription+xml" rel="search" href="/opensearch.xml"/>
    {% endblock %}
</head>
<body>
<div id="container">
{% block content %}
{% endblock %}
<script src="/static/js/searx.js" ></script>
</div>
</body>
</html>
