<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>searx {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8" />
    {% block styles %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
