{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h2>{{ _('Currently used search engines') }}</h2>

    <table style="width: 80%;">
        <tr>
            <th>{{ _('Engine name') }}</th>
            <th>{{ _('Category') }}</th>
        </tr>
    {% for (categ,search_engines) in categs %}
        {% for search_engine in search_engines %}

            {% if not search_engine.private %}
            <tr>
                <td>{{ search_engine.name }}</td>
                <td>{{ categ }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </table>
<p class="right"><a href="/">{{ _('back') }}</a></p>
</div>
{% endblock %}
