{% extends "base.html" %}
{% block content %}
<a href="https://github.com/asciimoo/searx" class="github">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="/static/img/github_ribbon.png" alt="Fork me on GitHub"  class="github"/>
</a>
<div class="center">
    <h1>searx</h1>
    <form method="post" action="">
        <input type="text" name="q" tabindex="1" autocomplete="off" />
        <input type="submit" value="search" />
        <p>
        {% for engine in engines %}
            {{ engine }}: <input type="checkbox" name="engine_{{ engine }}" checked="checked"/>
        {% endfor %}
        </p>
    </form>
</div>
{% endblock %}
