{% extends "base.html" %}
{% block head %} {% endblock %}
{% block content %}
<div class="row">
    <h2>{{ _('Preferences') }}</h2>


    <fieldset>
        <legend>{{ _('Default categories') }}</legend>
        <form method="post" action="/preferences" id="search_form">
        <p>
        {% include 'categories.html' %}
        </p>
        <input type="submit" value="{{ _('save') }}" />
        </form>
    </fieldset>
    <div class="right"><a href="/">{{ _('back') }}</a></div>
</div>
{% endblock %}
