<form method="post" action="/" id="search_form">
<div id="search_wrapper">
    <input type="text" class="q" name="q" tabindex="1" autocomplete="off" {% if q %}value="{{ q }}"{% endif %}/>
    <input type="submit" value="" id="search_submit" />
</div>
    <div>
    {% for category in categories %}
        <div class="checkbox_container">
            <input type="checkbox" name="category_{{ category }}" {% if category in selected_categories %}checked="checked"{% endif %} /><label for="checkbox_{{ category }}" class="cb"></label><label for="checkbox_{{ category }}">{{ category }}</label>
        </div>
    {% endfor %}
    </div>
</form>
