# to sync with .dockerignore
.coverage
coverage/
.installed.cfg
engines.cfg
env
searx-ve
robot_log.html
robot_output.xml
robot_report.html
test_basic/
setup.cfg

*.pyc
*/*.pyc
*~

node_modules/

.tx/
