.coverage
.installed.cfg
engines.cfg
env
robot_log.html
robot_output.xml
robot_report.html
setup.cfg

*.pyc
*/*.pyc
*~

bin/
build/
coverage/
develop-eggs/
dist/
eggs/
include/
lib/
local/
parts/
searx.egg-info/
var/
