# to sync with .dockerignore
.coverage
coverage/
cache/
.installed.cfg
engines.cfg
env
searx-ve
robot_log.html
robot_output.xml
robot_report.html
test_basic/
setup.cfg

*.pyc
*/*.pyc
*~
*.swp

/node_modules

.tx/

build/
dist/
local/
gh-pages/
searx.egg-info/
