certifi==2016.2.28
flask>=0.9
flask-babel>=0.9
lxml>=3.4.0
ndg-httpsclient==0.4.*
pyasn1==0.1.9
pyasn1-modules==0.0.8
pygments>=2.0.0
pyopenssl==0.15.1
python-dateutil>=2.4
pyyaml==3.11
requests>=2.9
