mock==4.0.3
nose2[coverage_plugin]==0.12.0
cov-core==1.15.0
pycodestyle==2.10.0
pylint==2.15.9
splinter==0.19.0
transifex-client==0.14.3; python_version < '3.10'
transifex-client==0.12.5; python_version == '3.10'
selenium==4.7.2
twine==4.0.2
Pallets-Sphinx-Themes==2.0.2
docutils==0.18
Sphinx==5.3.0
sphinx-issues==3.0.1
sphinx-jinja==2.0.2
sphinx-tabs==3.4.1
sphinxcontrib-programoutput==0.17
sphinx-autobuild==2021.3.14
linuxdoc==20221127
