certifi==2021.10.8
babel==2.9.1
flask-babel==2.0.0
flask==2.1.1
jinja2==3.1.1
lxml==4.7.1
pygments==2.8.0
python-dateutil==2.8.2
pyyaml==6.0
httpx[http2]==0.22.0
Brotli==1.0.9
uvloop==0.16.0; python_version >= '3.7'
uvloop==0.14.0; python_version < '3.7'
httpx-socks[asyncio]==0.7.2
langdetect==1.0.9
setproctitle==1.2.2
