mock==4.0.3
nose2[coverage_plugin]==0.10.0
cov-core==1.15.0
pycodestyle==2.8.0
pylint==2.12.2
splinter==0.17.0
transifex-client==0.14.3; python_version < '3.10'
transifex-client==0.12.1; python_version == '3.10'
selenium==4.1.0
twine==3.7.1
Pallets-Sphinx-Themes==2.0.2
docutils==0.16
Sphinx==4.4.0
sphinx-issues==3.0.1
sphinx-jinja==1.4.0
sphinx-tabs==3.2.0
sphinxcontrib-programoutput==0.17
sphinx-autobuild==2021.3.14
linuxdoc==20211220
aiounittest==1.4.1
