@import url("pocoo.css");

a, a.reference, a.footnote-reference {
  color: #004b6b;
  border-color: #004b6b;
}

a:hover {
  color: #6d4100;
  border-color: #6d4100;
}

p.version-warning {
  background-color: #004b6b;
}

div.sidebar {
  background-color: whitesmoke;
  border-color: lightsteelblue;
  border-radius: 3pt;
}

p.sidebar-title, .sidebar p {
  margin: 6pt;
}

.sidebar li {
  list-style-type: disclosure-closed;
}


/* admonitions with (rendered) reST markup examples (:class: rst-example)
 *
 * .. admonition:: title of the example
 *     :class: rst-example
 *     ....
/* navigation menu: use sans font and select light/dark colors for better
* contrast.
*/

div.rst-example {
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
    transform: scale(0.9);
    transition: transform 1s;
}

/* div.rst-example > .admonition-title { */
/*     background-color: inherit; */
/*     color: inherit; */
/* } */

/* div.rst-example > .admonition-title:after{ */
/*     font-family: inherit; */
/*     font-style: italic; */
/*     content: "     // hover mouse over .."; */
/* } */

@media screen {
   div.rst-example:hover {
       transform: scale(1);
       background-color: inherit;
       padding-left: inherit;
       padding-right: inherit;
       border-left: inherit;
   }

   div.rst-example:hover > .admonition-title {
       display: none;
   }
}
