general:
    debug : False # Debug mode, only for development

search:
    safe_search : 0 # Filter results. 0: None, 1: Moderate, 2: Strict
    autocomplete : "" # Existing autocomplete backends: "dbpedia", "duckduckgo", "google", "startpage", "wikipedia" - leave blank to turn it off by default

server:
    port : 8888
    bind_address : "127.0.0.1" # address to listen on
    secret_key : "ultrasecretkey" # change this!
    base_url : False # Set custom base_url. Possible values: False or "https://your.custom.host/location/"
    image_proxy : False # Proxying image results through searx

ui:
    themes_path : "" # Custom ui themes path - leave it blank if you didn't change
    default_theme : oscar # ui theme
    default_locale : "" # Default interface locale - leave blank to detect from browser information or use codes from the 'locales' config section

outgoing: # communication with search engines
    request_timeout : 2.0 # seconds
    useragent_suffix : "" # suffix of searx_useragent, could contain informations like an email address to the administrator
# uncomment below section if you want to use a proxy
# see http://docs.python-requests.org/en/latest/user/advanced/#proxies
# SOCKS proxies are not supported : see https://github.com/kennethreitz/requests/pull/478
#    proxies :
#        http : http://127.0.0.1:8080
#        https: http://127.0.0.1:8080
# uncomment below section only if you have more than one network interface
# which can be the source of outgoing search requests
#    source_ips:
#        - 1.1.1.1
#        - 1.1.1.2

engines:
  - name : wikipedia
    engine : mediawiki
    shortcut : wp
    base_url : 'https://{language}.wikipedia.org/'
    number_of_results : 1

  - name : bing
    engine : bing
    shortcut : bi

  - name : bing images
    engine : bing_images
    shortcut : bii

  - name : bing news
    engine : bing_news
    shortcut : bin

  - name : btdigg
    engine : btdigg
    shortcut : bt

  - name : currency
    engine : currency_convert
    categories : general
    shortcut : cc

  - name : deezer
    engine : deezer
    shortcut : dz

  - name : deviantart
    engine : deviantart
    shortcut : da
    timeout: 3.0

  - name : ddg definitions
    engine : duckduckgo_definitions
    shortcut : ddd

  - name : digg
    engine : digg
    shortcut : dg

  - name : wikidata
    engine : wikidata
    shortcut : wd

  - name : duckduckgo
    engine : duckduckgo
    shortcut : ddg

# api-key required: http://www.faroo.com/hp/api/api.html#key
#  - name : faroo
#    engine : faroo
#    shortcut : fa
#    api_key : 'apikey' # required!

  - name : 500px
    engine : www500px
    shortcut : px

  - name : 1x
    engine : www1x
    shortcut : 1x
    disabled : True

  - name : flickr
    categories : images
    shortcut : fl
# You can use the engine using the official stable API, but you need an API key
# See : https://www.flickr.com/services/apps/create/
#    engine : flickr
#    api_key: 'apikey' # required!
# Or you can use the html non-stable engine, activated by default
    engine : flickr_noapi

  - name : gigablast
    engine : gigablast
    shortcut : gb
    disabled: True

  - name : github
    engine : github
    shortcut : gh

  - name : google
    engine : google
    shortcut : go

  - name : google images
    engine : google_images
    shortcut : goi

  - name : google news
    engine : google_news
    shortcut : gon

  - name : google play apps
    engine        : xpath
    search_url    : https://play.google.com/store/search?q={query}&c=apps
    url_xpath     : //a[@class="title"]/@href
    title_xpath   : //a[@class="title"]
    content_xpath : //a[@class="subtitle"]
    categories : files
    shortcut : gpa
    disabled : True

  - name : google play movies
    engine        : xpath
    search_url    : https://play.google.com/store/search?q={query}&c=movies
    url_xpath     : //a[@class="title"]/@href
    title_xpath   : //a[@class="title"]
    content_xpath : //a[@class="subtitle"]
    categories : videos
    shortcut : gpm
    disabled : True

  - name : google play music
    engine        : xpath
    search_url    : https://play.google.com/store/search?q={query}&c=music
    url_xpath     : //a[@class="title"]/@href
    title_xpath   : //a[@class="title"]
    content_xpath : //a[@class="subtitle"]
    categories : music
    shortcut : gps
    disabled : True

  - name : mixcloud
    engine : mixcloud
    shortcut : mc

  - name : openstreetmap
    engine : openstreetmap
    shortcut : osm

  - name : photon
    engine : photon
    shortcut : ph

  - name : piratebay
    engine : piratebay
    shortcut : tpb
    disabled : True

  - name : qwant
    engine : qwant
    shortcut : qw
    categories : general
    disabled : True

  - name : qwant images
    engine : qwant
    shortcut : qwi
    categories : images

  - name : qwant news
    engine : qwant
    shortcut : qwn
    categories : news

  - name : qwant social
    engine : qwant
    shortcut : qws
    categories : social media

  - name : kickass
    engine : kickass
    shortcut : ka

  - name : soundcloud
    engine : soundcloud
    shortcut : sc

  - name : stackoverflow
    engine : stackoverflow
    shortcut : st

  - name : searchcode doc
    engine : searchcode_doc
    shortcut : scd

  - name : searchcode code
    engine : searchcode_code
    shortcut : scc
    disabled : True

  - name : spotify
    engine : spotify
    shortcut : stf

  - name : subtitleseeker
    engine : subtitleseeker
    shortcut : ss
# The language is an option. You can put any language written in english
# Examples : English, French, German, Hungarian, Chinese...
#    language : English

  - name : startpage
    engine : startpage
    shortcut : sp
    timeout : 6.0
    disabled : True

  - name : ixquick
    engine : startpage
    base_url : 'https://www.ixquick.com/'
    search_url : 'https://www.ixquick.com/do/search'
    shortcut : iq
    timeout : 6.0
    disabled : True

  - name : swisscows
    engine : swisscows
    shortcut : sw
    disabled : True

  - name : twitter
    engine : twitter
    shortcut : tw

# maybe in a fun category
#  - name : uncyclopedia
#    engine : mediawiki
#    shortcut : unc
#    base_url : https://uncyclopedia.wikia.com/
#    number_of_results : 5

# tmp suspended - too slow, too many errors
#  - name : urbandictionary
#    engine        : xpath
#    search_url    : http://www.urbandictionary.com/define.php?term={query}
#    url_xpath     : //div[@class="word"]//a/@href
#    title_xpath   : //div[@class="word"]//a
#    content_xpath : //div[@class="definition"]
#    shortcut : ud

  - name : yahoo
    engine : yahoo
    shortcut : yh

  - name : yandex
    engine : yandex
    shortcut : yn
    disabled : True

  - name : yahoo news
    engine : yahoo_news
    shortcut : yhn

  - name : youtube
    shortcut : yt
    # You can use the engine using the official stable API, but you need an API key
    # See : https://console.developers.google.com/project
    #    engine : youtube_api
    #    api_key: 'apikey' # required!
    # Or you can use the html non-stable engine, activated by default
    engine : youtube_noapi

  - name : dailymotion
    engine : dailymotion
    shortcut : dm

  - name : vimeo
    engine : vimeo
    shortcut : vm

  - name : wolframalpha
    shortcut : wa
    # You can use the engine using the official stable API, but you need an API key
    # See : http://products.wolframalpha.com/api/
    #    engine : wolframalpha_api
    #    api_key: '5952JX-X52L3VKWT8' # required!
    engine : wolframalpha_noapi
    timeout: 6.0

#The blekko technology and team have joined IBM Watson! -> https://blekko.com/
#  - name : blekko images
#    engine : blekko_images
#    locale : en-US
#    shortcut : bli

#  - name : yacy
#    engine : yacy
#    shortcut : ya
#    base_url : 'http://localhost:8090'
#    number_of_results : 5
#    timeout : 3.0

locales:
    en : English
    de : Deutsch
    he : עברית
    hu : Magyar
    fr : Français
    es : Español
    it : Italiano
    nl : Nederlands
    ja : 日本語 (Japanese)
    tr : Türkçe
    pt : Português
    ru : Russian
    ro : Romanian
    zh : 中文 (Chinese)
