/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

input[type=checkbox]:checked ~ .label_hide_if_checked {
  display:none;
}

input[type=checkbox]:not(:checked) ~ .label_hide_if_not_checked {
  display:none;
}

.search_categories {
  margin:10px 0;
  text-transform: capitalize;
}

.result-default {
    clear: both;
}

.result-images {
    float: left !important;
}

.result-videos {
    clear: both;
}

.result-torrents {
    clear: both;
}

.img-thumbnail {
    margin: 5px;
    max-height: 128px;
    min-height: 128px;
}

.suggestion_item {
    margin: 2px 5px;
}

.result_download {
    margin-right: 5px;
}

#pagination {
    margin-top: 30px;
    padding-bottom: 50px;
}

.cursor-text {
    cursor: text !important;
}
