html {
  font-family: sans-serif;
  font-size: 0.9em;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  color: #444444;
}

.row { max-width: 800px; margin: auto; text-align: justify; }
.row h1 { font-size: 3em; margin-top: 50px; }
.row p { padding: 0 10px; max-width: 700px; }
.row h3,ul { margin: 4px 8px;}

.hmarg { margin: 0 20px; }

.top_margin { margin-top: 60px; }

.center { text-align: center; }

h1 { font-size: 5em; }

h1.title { background: url('/static/img/searx.png') no-repeat; width: 100%; background-position: center; }
h1.title div { visibility: hidden; }


input { border: 2px solid #666666; color: #444444;  padding: 8px; background-color: #FFFFFF; font-size: 1.1em; }

input[type="checkbox"] { visibility: hidden; }

.checkbox_container { display: inline-block; position: relative; padding-left: 3px; margin: 0 10px; }
.checkbox_container label {
    cursor: pointer;
}
.checkbox_container label.cb {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background: #eee;
    border:1px solid #ddd;
}
.checkbox_container label.cb:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox_container label.cb:hover:after {
    opacity: 0.5;
}
.checkbox_container input[type=checkbox]:checked + label.cb:after {
    opacity: 1;
}

a { text-decoration: none; }


.result { margin-bottom: 16px; clear: both; }
.result_title { margin-bottom: 0; }
.result p { margin-top: 0; padding-top: 0; font-size: 0.8em; max-width: 54em; }
.result h3 { font-size: 0.9em;}
.result { max-width: 70em; }

.url { font-weight: bold; }

.q { width: 30em; }

.engines { color: #888888; }

.small_font { font-size: 0.8em; }

.small p { margin: 2px 0; }

.right { float: right; }

.invisible { display: none; }

.left { float: left; }

.image_result { float: left; margin: 10px 10px; position: relative;  height: 160px;}
.image_result img { border: 0;  height: 160px;}
.image_result p { margin: 0; padding: 0; }
.image_result p span a { display: none; }
.image_result p span a { color: #FFFFFF; }
.image_result p:hover span a { display: block; position: absolute; bottom: 0; right: 0; padding: 4px; background-color: rgba(0, 0, 0, 0.6); font-size: 0.7em; }

.percentage { position: relative; width: 300px; }
.percentage div { background: #444444; }
td { padding: 0 4px; }
tr:hover td { background: #DDDDDD; }


#search_wrapper { position: relative; max-width: 600px; margin: 10px; }
.center #search_wrapper { margin-left: auto; margin-right: auto; }
.q {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #8D8D8D;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #999999 inset;
    color: #222222;
    font-size: 16px;
    height: 28px;
    margin: 0;
    outline: medium none;
    padding: 4px;
    padding-left: 8px;
    padding-right: 0px !important;
    width: 100%;
    z-index: 2;
}
#search_submit {
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 0;
    border: 0;
    background: url('/static/img/search-icon.png') no-repeat;
    background-size: 28px 28px;
    opacity: 0.8;
    width: 28px;
    height: 30px;
}

#results { margin-left: 10px; margin-top: 10px; }

#suggestions { max-width: 50em;}
#suggestions form { display: inline; }
#suggestions input { padding: 2px 6px; margin: 2px 4px;  font-size: 0.8em; display: inline-block; background: #E4E4E4; border-radius: 4px; border: 0; cursor: pointer; }
