html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  color: #444444;
}
.center { text-align: center; }

h1 { font-size: 5em; }

input { border: 2px solid #666666; color: #444444;  padding: 8px; background-color: #FFFFFF; font-size: 1.3em; }

a { text-decoration: none; }

.result_title { margin-bottom: 0; }

.result p { margin-top: 0; padding-top: 0; font-size: 0.9em; max-width: 50em; }
.result { max-width: 70em; }

.url { font-weight: bold; }

.q { width: 30em; }
