{% macro new_issue(new_issue_url, engine_name, engine_reliability) %}
<form action="{{ new_issue_url }}" method="GET">
    <input name="title" type="hidden" value="Bug: {{ engine_name }} engine">
    <input name="labels" type="hidden" value="bug">
    <input name="template" type="hidden" value="bug-report.md">
    <textarea name="body" class="issue-hide">{{- '' -}}

**Version of SearXNG, commit number if you are using on master branch and stipulate if you forked SearXNG**
<!-- If you are running on master branch using git execute this command
in order to fetch the latest commit ID:
```
git log -1
```
If you are using searx-docker then look at the bottom of the SearXNG page
and check for the version after "Powered by SearXNG"

Please also stipulate if you are using a forked version of SearxNG and
include a link to the fork source code.
-->
**How did you install SearXNG?**
<!-- Did you install SearXNG using the official wiki or using searx-docker
or manually by executing the searx/webapp.py file? -->
**What happened?**
<!-- A clear and concise description of what the bug is. -->

**How To Reproduce**
<!-- How can we reproduce this issue? (as minimally and as precisely as possible) -->

**Expected behavior**
<!-- A clear and concise description of what you expected to happen. -->

**Screenshots & Logs**
<!-- If applicable, add screenshots, logs to help explain your problem. -->

**Additional context**
<!-- Add any other context about the problem here. -->

**Technical report**

{% for error in engine_reliability.errors %}
{% if secondary %}Warning{% else %}Error{% endif %}
{{'\n  '}}* Error: {{ error.exception_classname or error.log_message }}
{{'  '}}* Percentage: {{ error.percentage }}
{{'  '}}* Parameters: `{{ error.log_parameters }}`
{{'  '}}* File name: `{{ error.filename }}:{{ error.line_no }}`
{{'  '}}* Function: `{{ error.function }}`
{{'  '}}* Code: `{{ error.code }}`
{{'\n'-}}
{%- endfor -%}
{%- for test_name, results in engine_reliability.checker.items() -%}
{%- if loop.first %}Checker{% endif -%}
{{-'\n  '}}* {{ test_name }}: {% for result in results%}`{{ result }}`,{% endfor -%}
{%- endfor -%}
    </textarea>
    <button type="submit" class="github-issue-button" title="{{ new_issue_url }}">{{ _('Submit a new issue on Github including the above information') }}</button>
</form>
{% endmacro %}
