.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #29314d;
  height: 55px;
  color: #01d7d4;
}
.navbar,
.navbar-default {
  background-color: #29314d;
  border: none;
  border-top: 4px solid #01d7d4;
  padding-top: 5px;
  color: #f6f9fa !important;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: lowercase;
  margin-bottom: 50px;
  height: 65px;
}
.navbar .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color: #f6f9fa;
}
.navbar .navbar-brand,
.navbar-default .navbar-brand {
  font-weight: 700;
  text-transform: lowercase;
}
.navbar .navbar-brand img,
.navbar-default .navbar-brand img {
  height: 27px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #01d7d4;
}
* {
  border-radius: 0 !important;
}
html {
  position: relative;
  min-height: 100%;
  color: #29314d;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
  background-color: white;
}
body a {
  color: #0088cc;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
  color: #999;
}
input[type=checkbox]:checked + .label_hide_if_checked,
input[type=checkbox]:checked + .label_hide_if_not_checked + .label_hide_if_checked {
  display: none;
}
input[type=checkbox]:not(:checked) + .label_hide_if_not_checked,
input[type=checkbox]:not(:checked) + .label_hide_if_checked + .label_hide_if_not_checked {
  display: none;
}
.result_header {
  margin-bottom: 5px;
  font-size: 20px;
}
.result_header .favicon {
  margin-bottom: -3px;
}
.result_header a {
  vertical-align: bottom !important;
  color: #29314d;
  text-decoration: none;
}
.result_header a:hover {
  color: #0088cc;
}
.result_header a:visited {
  color: #684898;
}
.result_header a .highlight {
  background-color: #f6f9fa;
  vertical-align: bottom !important;
  line-height: 1,1em;
}
.result-content {
  margin-top: 5px;
  word-wrap: break-word;
  color: #666666;
  font-size: 13px;
}
.result-content .highlight {
  font-weight: bold;
}
.external-link,
.external-link a {
  color: #119d5b;
}
.external-link a,
.external-link a a {
  margin-right: 3px;
}
.result-default,
.result-code,
.result-torrent,
.result-videos,
.result-map {
  clear: both;
  padding: 25px 20px;
}
.result-default:hover,
.result-code:hover,
.result-torrent:hover,
.result-videos:hover,
.result-map:hover {
  background-color: #f6f9fa;
}
.result-images {
  float: left !important;
  width: 24%;
  margin: .5%;
}
.result-images a {
  display: block;
  width: 100%;
  height: 170px;
  background-size: cover;
}
.img-thumbnail {
  margin: 5px;
  max-height: 128px;
  min-height: 128px;
}
.result-videos {
  clear: both;
}
.result-videos hr {
  margin: 5px 0 15px 0;
}
.result-videos .collapse {
  width: 100%;
}
.result-videos .in {
  margin-bottom: 20px;
}
.result-torrent {
  clear: both;
}
.result-torrent b {
  margin-right: 5px;
  margin-left: 5px;
}
.result-torrent .seeders {
  color: #119d5b;
}
.result-torrent .leechers {
  color: #f35e77;
}
.result-map {
  clear: both;
}
.result-code {
  clear: both;
}
.result-code .code-fork,
.result-code .code-fork a {
  color: #666666;
}
.suggestion_item {
  margin: 2px 5px;
}
.result_download {
  margin-right: 5px;
}
#pagination {
  margin-top: 30px;
  padding-bottom: 60px;
}
.label-default {
  color: #a4a4a4;
  background: transparent;
}
.infobox .panel-heading {
  background-color: #f6f9fa;
}
.infobox .panel-heading .panel-title {
  font-weight: 700;
}
.infobox p {
  font-family: "DejaVu Serif", Georgia, Cambria, "Times New Roman", Times, serif !important;
  font-style: italic;
}
.infobox .btn {
  background-color: #119d5b;
  border: none;
}
.infobox .btn a {
  color: white;
  margin: 5px;
}
.infobox .infobox_part {
  margin-bottom: 20px;
  word-wrap: break-word;
  table-layout: fixed;
}
.infobox .infobox_part:last-child {
  margin-bottom: 0;
}
.search_categories,
#categories {
  margin: 15px 0 20px 0;
  text-transform: capitalize;
}
.search_categories label,
#categories label {
  border: none;
  box-shadow: none;
  font-size: 13px;
  padding-bottom: 10px;
  color: #a4a4a4;
  margin-bottom: 5px;
}
.search_categories label:hover,
#categories label:hover {
  color: #29314d;
  background-color: transparent;
}
.search_categories label:active,
#categories label:active {
  box-shadow: none;
}
.search_categories .active,
#categories .active,
.search_categories .btn-primary,
#categories .btn-primary {
  color: #29314d;
  font-weight: 700;
  border-bottom: 5px solid #01d7d4;
  background-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: transparent !important;
  box-shadow: none;
}
#categories {
  margin: 0;
}
#main-logo {
  margin-top: 15vh;
  margin-bottom: 25px;
}
#q {
  box-shadow: none;
  border-right: none;
  border-color: #a4a4a4;
}
#search_form .input-group-btn .btn {
  border-color: #a4a4a4;
}
#search_form .input-group-btn .btn:hover {
  background-color: #119d5b;
  color: white;
}
.cursor-text {
  cursor: text !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
pre,
code {
  font-family: 'Ubuntu Mono', 'Courier New', 'Lucida Console', monospace !important;
}
.lineno {
  margin-right: 5px;
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight {
  background: #f8f8f8;
}
.highlight .c {
  color: #556366;
  font-style: italic;
}
/* Comment */
.highlight .err {
  border: 1px solid #ffa92f;
}
/* Error */
.highlight .k {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  color: #d19a66;
}
/* Operator */
.highlight .cm {
  color: #556366;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #bc7a00;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #556366;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #556366;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  color: #a00000;
}
/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #ff0000;
}
/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.highlight .gi {
  color: #00a000;
}
/* Generic.Inserted */
.highlight .go {
  color: #888888;
}
/* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.highlight .gt {
  color: #0044dd;
}
/* Generic.Traceback */
.highlight .kc {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kn {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Namespace */
.highlight .kp {
  color: #be74d5;
}
/* Keyword.Pseudo */
.highlight .kr {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #d46c72;
}
/* Keyword.Type */
.highlight .m {
  color: #d19a66;
}
/* Literal.Number */
.highlight .s {
  color: #86c372;
}
/* Literal.String */
.highlight .na {
  color: #7d9029;
}
/* Name.Attribute */
.highlight .nb {
  color: #be74d5;
}
/* Name.Builtin */
.highlight .nc {
  color: #61AFEF;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #d19a66;
}
/* Name.Constant */
.highlight .nd {
  color: #aa22ff;
}
/* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
.highlight .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #61afef;
}
/* Name.Function */
.highlight .nl {
  color: #a0a000;
}
/* Name.Label */
.highlight .nn {
  color: #61AFEF;
  font-weight: bold;
}
/* Name.Namespace */
.highlight .nt {
  color: #BE74D5;
  font-weight: bold;
}
/* Name.Tag */
.highlight .nv {
  color: #dfc06f;
}
/* Name.Variable */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #d7dae0;
}
/* Text.Whitespace */
.highlight .mf {
  color: #d19a66;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #d19a66;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #d19a66;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #d19a66;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #86c372;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #86c372;
}
/* Literal.String.Char */
.highlight .sd {
  color: #86C372;
  font-style: italic;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #86c372;
}
/* Literal.String.Double */
.highlight .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #86c372;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #be74d5;
}
/* Literal.String.Other */
.highlight .sr {
  color: #bb6688;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #86c372;
}
/* Literal.String.Single */
.highlight .ss {
  color: #dfc06f;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #be74d5;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #dfc06f;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #dfc06f;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #dfc06f;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #d19a66;
}
/* Literal.Number.Integer.Long */
.highlight .lineno {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #556366;
}
.highlight .lineno::selection {
  background: transparent;
  /* WebKit/Blink Browsers */
}
.highlight .lineno::-moz-selection {
  background: transparent;
  /* Gecko Browsers */
}
.highlight pre {
  background-color: #282C34;
  color: #D7DAE0;
  border: none;
  margin-bottom: 25px;
  font-size: 15px;
  padding: 20px 10px;
}
.highlight {
  vertical-align: bottom;
  font-weight: 700;
}
