<div class="infobox">
    <h2>{{ infobox.infobox }}</h2>
    {% if infobox.img_src %}<img src="{{ image_proxify(infobox.img_src) }}" title="{{ infobox.infobox|striptags }}" alt="{{ infobox.infobox|striptags }}" />{% endif %}
    <p>{{ infobox.entity }}</p>
    <p>{{ infobox.content | safe }}</p>
    {% if infobox.attributes %}
    <div class="attributes">
        <table>
            {% for attribute in infobox.attributes %}
            <tr>
                <td>{{ attribute.label }}</td>
                {% if attribute.image %}
                <td><img src="{{ image_proxify(attribute.image.src) }}" alt="{{ attribute.image.alt }}" /></td>
                {% else %}
                <td>{{ attribute.value }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if infobox.urls %}
    <div class="urls">
        <ul>
            {% for url in infobox.urls %}
            <li class="url"><a href="{{ url.url }}" rel="noreferrer">{{ url.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if infobox.relatedTopics %}
    <div class="relatedTopics">
        {% for topic in infobox.relatedTopics %}
        <div>
            <h3>{{ topic.name }}</h3>
            {% for suggestion in topic.suggestions %}
            <form method="{{ method or 'POST' }}" action="{{ url_for('index') }}">
                <input type="hidden" name="q" value="{{ suggestion }}">
                <input type="submit" value="{{ suggestion }}" />
            </form>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <br />
  
</div>
